body {
    font-family: 'Roboto Mono', monospace;
  }
  
  h1 {
    margin: 20px;
    text-align: center;
    font-size: 40px;
  }
  
  h3 {
    font-size: 50px;
  }
  
img {
  height: 150px;
  width: 150px;
  position: center;

}

.container {
  height: 150px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.profile-container {
  height: 150px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.square {
  min-height: 75px;
  width: 150px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}
